<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">

    <div style="display: flex; justify-content: center;">
        <a href="/ejercicio1" style="color: white; background-color: purple; padding: 20px 40px; display: inline-block; width: 150px; height: 150px; line-height: 150px; text-align: center; margin: 20px; font-size: 20px; border-radius: 5px; text-decoration: none;">Ejercicio 1</a>
        <a href="/ejercicio2" style="color: white; background-color: green; padding: 20px 40px; display: inline-block; width: 150px; height: 150px; line-height: 150px; text-align: center; margin: 20px; font-size: 20px; border-radius: 5px; text-decoration: none;">Ejercicio 2</a>
    </div>
</div>
{% endblock %}
</body>
</html>